{% extends 'main/main.html' %}
{% load static %}
{% block tittle %}
Agregar producto
{% endblock tittle %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <h2>Agregar Producto</h2>
                  <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" class="btn btn-success">Guardar</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}