{% extends 'main/main.html' %}
{% load static %}
{% block tittle %}
Actualizar precio
{% endblock tittle %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/act_precio.css' %}">
{% endblock css %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>Eliminar Producto</h2>
                    <p>¿Estás seguro de que quieres eliminar el producto "{{ producto.nombre }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a href="{% url 'listar_productos' %}" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}