{% extends 'main/main.html' %}
{% load static %}
{% block tittle %}
Editar usuario
{% endblock tittle %}
{% block css %}
<style>
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-top: 20px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#4f868c!important;
    ;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color:#4f868c;
    ;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-color: #4f868c;
    ;
  }
  
  .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .success-message {
    color: #28a745;
    font-size: 14px;
    margin-top: 5px;
  }
  
</style>
{% endblock css %}
{% block content %}
<h1>Editar Usuario</h1>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Guardar cambios</button>
</form>
{% endblock content %}